//my theme colors

$primary:    #9b0954;
$secondary:  #ffafc8;
$success:    #e64495;
$light:      #dbb8c1;




// scss-docs-end theme-color-variables


//import bootstrap
@import'../node_modules/bootstrap/scss/bootstrap.scss';


