@use'../custom' as*;


 a{
    color: $light;
    font-family: 'Montserrat', sans-serif;
}

p{
    color: $dark;
    font-family: 'Montserrat', sans-serif;
}


 h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif; 
    
}


.my-3 h1{
color: $primary;
}

